In [8]:
#Get all the numbers from range 1 - 20 and find the square root of them using the for loop

for i in range(1,21):
    print  (i, "x", i, "=", i * i)

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100
11 x 11 = 121
12 x 12 = 144
13 x 13 = 169
14 x 14 = 196
15 x 15 = 225
16 x 16 = 256
17 x 17 = 289
18 x 18 = 324
19 x 19 = 361
20 x 20 = 400

In [14]:
#using range(1,21) write a program that prints out the cube of every item in the sequence

for i in range(1,22):
     print  (i, "x", i, "x", i, "=", i * i * i)

1 x 1 x 1 = 1
2 x 2 x 2 = 8
3 x 3 x 3 = 27
4 x 4 x 4 = 64
5 x 5 x 5 = 125
6 x 6 x 6 = 216
7 x 7 x 7 = 343
8 x 8 x 8 = 512
9 x 9 x 9 = 729
10 x 10 x 10 = 1000
11 x 11 x 11 = 1331
12 x 12 x 12 = 1728
13 x 13 x 13 = 2197
14 x 14 x 14 = 2744
15 x 15 x 15 = 3375
16 x 16 x 16 = 4096
17 x 17 x 17 = 4913
18 x 18 x 18 = 5832
19 x 19 x 19 = 6859
20 x 20 x 20 = 8000
21 x 21 x 21 = 9261

In [4]:
# Locate the items at the following index 2, 4, 5 in the list below and replace those items with the string "Replaced"#create a new list with each item as a square of the corresponding item in the list above—also, sort the resulting list in descending order.

#Using either a for loop
new_list =["John", "Caleb", "Joshua", 89, 20, "Biology", "Physics", "Geography"]


new_list=[2] "Replaced"
new_list=[4] "Replaced"
new_list=[5] "Replaced"

print(new_list)

SyntaxError: invalid syntax (3641987077.py, line 7)

In [4]:
#use a For loop to pring out all the colors in the list below
my_list = ["red", "blue", "yellow"]

for i in (my_list):
    print(i)

red
blue
yellow

In [12]:
#Create a loop that iterates over a range and produces the following output: 5, 6, 7, 8, 9

for i in range(5,10):
    print(i)

5
6
7
8
9

In [26]:
#Create code that includes a loop that iterates over a range, and produces the following output: 5, 4, 3, 2, 1

#for i in range(1,6):
   # print(i)

for i in range(5,0, -1):
    print(i)

5
4
3
2
1

In [10]:
#Create a loop that iterates over the list [1, 10, 9, 4] and checks whether each number is greater than 3:
#this question is asking you to write an if/else condition
#Only use Elif when u have multple if conditions
numbers = [1, 10, 9, 4] 

for number in numbers:
    if number > 3:
        print("write greater than 3:", number)
    else:
        if number < 3:
            print("write less than 3:", number)

write less than 3: 1
write greater than 3: 10
write greater than 3: 9
write greater than 3: 4

In [7]:
#Create a loop that iterates over the list ["France", "Japan", "the USA"] and searches for “the USA” in the list:
#Write this as IF/ELif/Else statement

countries = ["France", "Japan", "the USA"]
for country in countries:
    if country == "the USA":
        print("the country is the USA")
    elif country == ("France"):
            print("the country is not the USA:", country)
    elif country == ("Japan"):
            print("the country is not the USA:", country)

the country is not the USA: France
the country is not the USA: Japan
the country is the USA

In [8]:
#Create a loop that iterates over the list [-1, 2, 3, 0, -4] and checks whether each number is positive or negative:
#this is asking me to write conditions IF/ELIF/Else
#the reason why i use number on the RT side is beceuase I want to get the exact numbers that satisfy that condition
#if I put numbers on the RT side it will just print out the entire numbers list

numbers = [-1, 2, 3, 0, -4] # after variable number always write = then the list

for number in numbers:
    if number > 0:
        print("the number is positive:", number)
    elif number < 0:
        print("the number is negative:", number)
    else:
        print("the number is neither negative or positive:", number)

the number is negative: -1
the number is positive: 2
the number is positive: 3
the number is neither negative or positive: 0
the number is negative: -4

In [13]:
#Create a loop that iterates over the list ["France", "Japan", "the USA"] and searches for “the USA” in the list:
# this is asking you to create an If/else statement

countries = ["France", "Japan", "the USA"]
for country in countries:
    if country == "the USA":
        print("This country is the USA")
    else:
        print ("This country is not the USA")

This country is not the USA
This country is not the USA
This country is the USA

In [12]:
numbers = [-1, 2, 3, 0, -4]

for number in numbers:
    if number > 0:
        print("the number is positive:", number)
    else:
        print("the number is negative or positive:", number)

the number is negative or positive: -1
the number is positive: 2
the number is positive: 3
the number is negative or positive: 0
the number is negative or positive: -4

In [10]:
# Locate the items at the following index 2, 4, 5 in the list below and replace those items with the string "Replaced"#create a new list with each item as a square of the corresponding item in the list above—also, sort the resulting list in descending order.

#Using either a for loop
new_list =["John", "Caleb", "Joshua", 89, 20, "Biology", "Physics", "Geography"]


new_list[2] = "Replaced"
new_list[4] = "Replaced"
new_list[5] = "Replaced"

print(new_list)

['John', 'Caleb', 'Replaced', 89, 'Replaced', 'Replaced', 'Physics', 'Geography']

In [8]:
new_list =["John", "Caleb", "Joshua", 89, 20, "Biology", "Physics", "Geography"]
 

new_list[2] = "Replaced"
new_list[4] = "Replaced"
new_list[5] = "Replaced"

print(new_list)

['John', 'Caleb', 'Replaced', 89, 'Replaced', 'Replaced', 'Physics', 'Geography']