In [11]:
#Using the membership operators
students = ["John", "Samuel", "Lizzy", "Miariam"]
check = "John" in students
check1 = "Damian" in students
print("check:", check)
print( "check1:", check1)

check2 = "Damian" not in students
print("check2:", check2)

check: True
check1: False
check2: True

In [19]:
#Using the identity operators
x = 10
y = 10.0
z = x

print("x:",x)
print("y:", y)
print("z:",z)

result  = x is y
result1 = x is z

print("result:", result)
print("result1:", result1)

x: 10
y: 10.0
z: 10
result: False
result1: True

In [22]:
#Using built- in python functions
a = -10
b = abs(a)
print("b:", b)

b: 10

In [29]:
age_list = [12, 14, 13, 17, 15]
minimum_age = min(age_list)
maximum_age = max(age_list)
print("min age: ", minimum_age)
print("max age: ", maximum_age)


item_count = len(age_list)
print("no of items: ", item_count)


sum_age = sum(age_list)
print("sum of all the ages:", sum_age)
mean_age = sum_age/item_count
print("mean age:", mean_age)

min age:  12
max age:  17
no of items:  5
sum of all the ages: 71
mean age: 14.2

In [39]:
#Class exercise
"""
Using python's built in functions, compute the minimum, maximum, total and mean value from the list below
"""

score_list = [60, 54, 49, 90, 59, 35, 93]

minimum_score = min(score_list)
maximum_score = max(score_list)
print("min score: ",  minimum_score)
print("max score: ",  maximum_score)

item_count = len(score_list)
print("no of items: ", item_count)

sum_score = sum(score_list)
print("sum of all the scores:", sum_score)
mean_score = sum_score/item_count
print("mean score:", mean_score)

min score:  35
max score:  93
no of items:  7
sum of all the scores: 440
mean score: 62.857142857142854

In [43]:
#Combining comparison operators
# >, <, >=, <=, ==, !=

a = 30
b = 50

print("a > b:", a > b)
print("a < b:", a < b)
print("

a > b: False
a < b: True

In [ ]:
#Combininb Operators and Logical operators
e = a<b and c!=d
print(