In [1]:
print("Hello world!")

Hello world!

In [6]:
#This is about how variables work in python
a = 25
b = 20
a = 5
c = a+b
print (c)

25

In [7]:
# This is a single line comment
" " "
This is comment line  one
This is comment line 2
This is comment line 3
" " "

In [16]:
a = 6
b = 2
c = a * b
d = a % b

print ("c = ", c)
print ("d =", d)

c =  12
d = 0

In [32]:
d = "John"
e = 5.1
f = 10
g = False
h = ["John", "Sylvia", "James", "Mary"]
i = ("John", "Sylvia", "James", "Mary")
j = {10, 20, 40, 4, 44}
k = {"name": "John", "age": 20, "country": "France"}

print(type (d))
print(type (e))
print(type (f))
print(type (g))
print(type (h))
print(type (i))
print(type (j))
print(type (k))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>